<%- include header %>
<div class="container">
    <form class="col-sm-offset-4 col-sm-4 form-horizontal" method="post">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="groupid">选择组</label>
                <div class="col-sm-9">
                    <select class="form-control" name="groupid" >
                        <% groups.forEach(function(group){%>
                            <option value=<%= group.groupid %> <%= groupid && Number(groupid) === Number(group.groupid) ? "selected" : "" %> > <%= group.groupname%> </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="usertitle">岗位选择</label>
                <div class="col-sm-9">
                    <select class="form-control" name="usertitle" >
                        <% usertitles.forEach(function(usertitleItem){%>
                            <option value=<%= usertitleItem %> <%= usertitle && usertitle === usertitleItem ? "selected" : "" %> > <%= usertitleItem%></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="username">姓名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="请输入用户名称" required name="username" value=<%= username %> >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="userphone">电话</label>
                <div class="col-sm-9">
                    <input type="phone" class="form-control" name="userphone" placeholder="请输入电话号码" required  value=<%= userphone %> >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="useremail">公司邮箱</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" name="useremail" placeholder="请输入公司邮箱" required value=<%= useremail %> >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="userdiscount">用户折扣</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="userdiscount" placeholder="请输入用户折扣" value=<%= userdiscount %> >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="golddiscount">金牌代理商折扣</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="golddiscount" placeholder="请输入金牌代理商折扣" value=<%= golddiscount %> >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="silverdiscount">银牌代理商折扣</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="silverdiscount" placeholder="请输入银牌代理商折扣" value=<%= silverdiscount %>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="isadmin">超管权限</label>
                <div class="col-sm-9 checkbox" style="width: 20%;">
                    <input type="checkbox" name="isadmin" value=1>
                </div>
            </div>
            <%=error %>
            <br />
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">创建用户</button>
                    <span>        </span>
                    <a href="/users/admin">
                        <button type="button" class="btn btn-default" >取消</button>
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<%- include footer %>
